.header-secondary-wrap {
  background-color: white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);

}

.header-secondary-primary-wrap {
  max-width: 1440px;
  margin: auto;

  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header-secondary-primary-wrap ul {
  //border: 2px solid black;

  list-style: none;
  padding: 0;
  margin: 0 20px;

  height: 100%;

  box-sizing: border-box;


  display: flex;
  align-items: center;
}

.header-secondary-primary-wrap li {
  //border: 1px solid blue;

  font-size: 11pt;
  margin-right: 30px;
  padding-top: 10px;

  height: 100%;

  display: inline-block;

  transition: box-shadow .3s;

  &:hover {
    box-shadow: inset 0 -2px 0 0  black;

    cursor: pointer;
  }

  .navlink {
    text-decoration: none;
    color: black;
  }
}