.main-wrap {
    max-width: 1440px;

    margin: auto;
    padding: 10px 20px;
}

.home-header {
    margin: auto;
    text-align: center;
}


a {
    color: inherit;

    &:hover {
        color: inherit;
    }
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    color: red;
    border: 0;
}

.add-button {
    color: green;
    border: 0;
}

.clickable-word:hover {
    background: #999;
    cursor: pointer;
}
